<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3" style="margin-top: 2rem;">

      <h2 class="mb-3" style="font-family: 'UhBeeSeulvely';
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      display: flex;
      justify-content: center;
      ">사용자 요리 게시판</h2>

      <div style="display: flex; justify-content: right;">
        <% if(isAuthenticated){ %> <!-- 1 -->
        <a class="btn btn-primary" href="/posts/new">글쓰기</a>
        <% } %>
      </div>


      <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
          <% posts.forEach(function(post) { %>
          <div class="card" style="width: 18rem; margin: 1.5rem 0; background-color: #FFCD1D;">
            <img src="<%= post.image %>" class="card-img-top" alt="..." style="width: 18rem; height: 300px; object-fit: cover;" >
            <div class="card-body">
              <h5 class="card-title"><a href="/posts/<%= post._id %>"></a><div class="ellipsis" style="font-family: 'UhBeeSeulvely';
                font-style: normal;
                font-weight: normal;
                font-size: 19px;"><%= post.title %></div>
                <% if(post.commentCount){ %>
                  <small class="title-comments d-inline-block pl-2">(<%= post.commentCount %>)</small>
                <% } %>
              </a></h5>
              <p class="date"><span style = "font-family: 'Roboto';
                font-size: 15px;" data-date="<%= post.createdAt %>"></span>
                <span>Author</span> : <%= post.author ? post.author.username : "" %>
              </p>
              <a href="/posts/<%= post._id %>" style="background-color: #CD0000; font-family: 'Roboto';
                font-size: 15px; font-weight: 500;
                border: none;" class="btn btn-primary">자세히 보기</a>
            </div>
          </div>
          <% }) %>
      </div>




      <!-- <table class="board-table table table-sm border-bottom">

        <thead class="thead-light">
          <tr>
            <th scope="col">제목</th>
            <th scope="col" class="date">날짜</th>
          </tr>
        </thead>

        <tbody>
          <% if(posts == null || posts.length == 0){ %>
            <tr>
              <td colspan=2> There is no data to show :( </td>
            </tr>
          <% } %>
          <% posts.forEach(function(post) { %>
            <tr>
              <td>
                <a href="/posts/<%= post._id %>"><div class="ellipsis"><%= post.title %></div></a>
              </td>
              <td class="date">
                <span data-date="<%= post.createdAt %>"></span> 
            </tr>
          <% }) %>
        </tbody>
      </table> -->

      
     

    </div>
  </body>
</html>